/* Home Page */
body {
  font-family: 'Creepster', sans-serif;
  background: url('/photo.png');
  background-size: cover;
  color: black;
  font-size: 50px;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Creepster', cursive;
  transition: background 0.3s;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:focus {
  border-color: #30134f;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

p {
  color: #30134f;
}

/* Responsive Design for Mobile*/ 
@media (max-width: 768px) {
  button {
    width: 100%;
    margin: 5px 0;
  }
}

/* Responsive Design for Mobile (The rest of pages)*/
@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}