/* Home Page Styling */

.homeContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.homeTitle {
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  margin-bottom: 5px;
  color: #ffa0bd;
}

.welcomeMessage {
  font-size: 1.3rem;
  color: #ffa0bd;
  font-weight: bold;
  margin-bottom: 40px;
  max-width: 800px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.themeButton {
  color: #30134f;
  background-color: #ffa0bd;
  border: 2px solid #30134f;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.themeButton:hover {
  background-color: #ffc0cd;
  color: black;
}

/* Responsive Design for Mobile)*/ 
@media (max-width: 768px) {
  .homeTitle {
    font-size: 3.5rem;
    padding: 0 10px;
  }

  .welcomeMessage {
    font-size: 1.1rem;
    padding: 0 10px;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: center;
  }
}
